@import "bootstrap-sprockets";
@import "bootstrap";

$theme: #5cb85c;

img {
  width: 100%;
  max-width: 500px;
  padding: 10px 0;
}
a {
  color: $theme;
}
a:focus, a:visited, a:hover {
  color: $theme;
  opacity: .8;
  text-decoration: none;
}

abbr[title], abbr[data-original-title] {
  display: none;
}

.alert, .notice {
  border-radius: 0;
  margin: 0;
  padding: 12px;
  background: transparent;
  text-align: center;
  color: #333;
  border: 0;
}
.navbar-brand {
  font-weight: bold;
}

.post-title {
  color: $theme;
}

.jumbotron {
  margin-bottom: 0;
  background: $theme;

  h2 {
    text-align: center;
    color: #fff;
  }

}

@media screen and (max-width: 650px) {

  .col-xs-offset-2 {
      margin-left: 1%;
  }
  .col-xs-8 {
      width: 98%;
  }
}

@media screen and (min-width: 1200px) {
  img {
    max-width: 100%;
  }
}