@import "bootstrap-sprockets";
@import "bootstrap";


.alert, .notice {
  margin-bottom: 0;
  text-align: center;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-default .navbar-brand {
  color: #399bef;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #286090;
}