@import "bootstrap-sprockets";
@import "bootstrap";

$theme: #5cb85c;
a {
  color: $theme;
}
a:focus, a:visited, a:hover {
  color: $theme;
  opacity: .8;
  text-decoration: none;
}

abbr[title], abbr[data-original-title] {
  display: none;
}
.navbar-default {
  margin: 0;
}
.alert, .notice {
  border-radius: 0;
  margin: 0;
  padding: 12px;
  background: $theme;
  text-align: center;
  color: #fff;
}
.navbar-brand {
  font-weight: bold;
}

.post-title {
  color: $theme;
}